.detailHeader {
    .mainHeader {
        margin: 15px 0 0;

        &:last-child {
            margin-bottom: 15px;
        }
    }

    .subHeader {
        font-size: 14px;
        color: transparentize(#000, 0.4);
        margin-bottom: 15px;
    }
}

.storyDetail {
    > div {
        padding: 4px;
    }
}

.comments > md-card {
    border: 1px solid $primary-hue-2;
    border-radius: $border-radius;
    background: #fff;
    box-shadow: 1px 1px 3px 0 transparentize(#000, 0.4);
}
