.wordWrap {
    word-break: break-word;
}

.md-select-menu-container md-content {
    background: #fff;
}

a {
    color: #0277BD;

    &:hover {
        text-decoration: underline;
    }

    &[ng-click] {
        cursor: pointer;
    }
}
