<md-toolbar>
	<div class="md-toolbar-tools">
        <md-button class="md-icon-button" ng-click="model.viewTopStories()">
            <md-icon>arrow_back</md-icon>
        </md-button>

		<span>Story Detail</span>
	</div>
</md-toolbar>

<md-content class="layout-padding md-hue-1">
    <div class="detailHeader">
        <h2 class="mainHeader">{{model.storyDetail.title}}</h2>
        <div class="subHeader">By {{model.storyDetail.by}}, {{model.storyDetail.time * 1000 | date:'dd/MM/yyyy h:mm a'}}</div>
    </div>

    <div layout="column" layout-align="space-between none" class="storyDetail">
        <div layout="row">
            <span flex="15">ID</span>
            <span flex="85">{{model.storyDetail.id}}</span>
        </div>

        <div layout="row">
            <span flex="15">URL</span>
            <a flex="75" flex-gt-sm="50" class="wordWrap" ng-click="model.openUrl(model.storyDetail.url)">
                {{model.storyDetail.url}}
            </a>
            <span flex="10">
                <md-button class="md-icon-button" ng-click="model.openUrl(model.storyDetail.url)">
                    <md-icon class="material-icons">open_in_new</md-icon>	
                </md-button>
            </span>
        </div>

        <div layout="row">
            <span flex="15">Score</span>
            <span flex="85">{{model.storyDetail.score}}</span>
        </div>
    </div>

    <div layout="row">
        <h3 flex>Comments</h3>

        <md-input-container flex>
            <label>Sort By</label>
            
            <md-select ng-model="model.sortBy">
                <md-option ng-repeat="sortOption in model.commentSortOptions" value="{{sortOption.sortBy}}">
                    {{sortOption.label}}
                </md-option>
            </md-select>
        </md-input-container>
    </div>

    <div class="comments">
        <md-card ng-repeat="comment in model.storyDetail.comments | orderBy:model.sortBy">
            <md-card-content>
                <div ng-bind-html="comment.text"></div>
            </md-card-content>

            <md-divider></md-divider>

            <md-card-actions layout="row" layout-align="end center">
                <span>{{comment.by}}</span>
                <span>, {{comment.time * 1000 | date:'dd/MM/yyyy h:mm a'}}</span>
            </md-card-actions>
        </md-card>
    </div>
</md-content>
